

.footer-content-container {
    // Center the content (Using a mixin)
    @include flexCenter(column);
    
    // This adds a background color to the city container
    background-color: #353535;

    padding-top: 20px;

    padding-bottom: 50px;
}

.footer-container-menu {
    @extend .footer-content-container;

    margin-top: -57px;

    padding-bottom: 0px;
    padding-top: 0px;

    width: 514px

}

.footer-container-menu-enchanted-plate {
    @extend .footer-container-menu;
    margin-top: -111px;
}

.logo-for-footer{  

    position: relative;
    
    //This is used to convert the image into a block element 
    display: block;  

    right: 61px;

    font-weight: weight(regular);

    color: #FFFFFF;
}

.footer-row {
    padding: 0px;
    margin: 0px;
}

.footer-text-containter {
    @extend .menu-text-containter;
    color: white;
}

.footer-text-suggest {
    position: relative;
    right: 69px;
}

.footer-text-partner {
    position: relative;
    right: 76px;
}

.footer-text-legal {
    position: relative;
    right: 148px;
    top: 6px;
}

.footer-text-contact {
    position: relative;
    right: 141px;
    top: 15px;
}

.fa-solid.fa-utensils {
    position: relative;
    right: 160px;
    top: 17px;
}

.fa-handshake-angle {    
    @extend .fa-solid, .fa-utensils;
}

@include PC {
    .footer-container-menu {
        // Center the content (Using a mixin)
        @include flexCenter(column);
        
        // This adds a background color to the city container
        background-color: #353535;

        padding-top: 20px;

        padding-bottom: 50px;
        
        width: 2181px ;
        
        margin-top: 1px;
    
        padding-bottom: 0px;
        padding-top: 0px;
    
    }

    .footer-container-menu-enchanted-plate {
        // Center the content (Using a mixin)
        @include flexCenter(column);
        
        // This adds a background color to the city container
        background-color: #353535;

        padding-top: 20px;

        padding-bottom: 50px;
        
        width: 2181px ;
        
        margin-top: 1px;
    
        padding-bottom: 0px;

        margin-top: -366px;
    }
}

@media (min-width: 768px) and (max-width: 990px) { 
    .footer-container-menu-enchanted-plate {
        width: 934px;
        margin-top: -381px;
    }

    .footer-container-menu {
        width: 990px;
    }
}