// Style for the button to explore restaurants
.button {
    // Set the font size of the text inside the button to 16 pixels. 
    font-size: 16px;

    // Add padding around the text inside the button. This padding will create 18 pixels of space between the text and the button border. */
    padding: 18px;

    // Set the background of the button to a linear gradient. 
    // The gradient starts with the color defined in the variable $secondary-color and transitions to the color defined in the variable $primary-color, 
    // moving from left to right. 
    background: linear-gradient(to right, $secondary-color, $primary-color);

    // Set the border radius of the button to 30 pixels to make the corners of the button rounded. 
    border-radius: 30px;

    // Set the color of the text inside the button to white. This color will ensure good contrast against the gradient background. 
    color: #FFFFFF;

    // Remove the default border that buttons usually have. 
    border: none;

    // Apply a box shadow to the button to give it a depth effect. 
    //The box shadow will appear 5 pixels below the button (first value) and will be 10 pixels wide (second value). 
    // The shadow will be a semi-transparent black color (rgba(0, 0, 0, 0.1)). A second, darker shadow is also applied to enhance the effect. 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);

    // Specify a transition effect for the background and box-shadow properties. The transition will occur over 0.3 seconds and will ease in and out. 
    // This makes the change in background and shadow smooth when the button is hovered over. 
    transition: background 0.3s ease, box-shadow 0.3s ease;
    
    // Styles to apply when the button is being hovered over */
    &:hover {
        // Lighten the gradient background by reducing the intensity of the colors to #FF99E6 (a light pink color) and #A67BD3 (a light purple color). 
        background: linear-gradient(to right, #FF99E6, #A67BD3);

        // Increase the spread and blur of the drop shadow to make it more visible. 
        // The shadow will appear 8 pixels below the button (first value) and will be 15 pixels wide (second value). 
        // The shadow will be a darker semi-transparent black color (rgba(0, 0, 0, 0.2)). 
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

        // Changes the cursor to a pointer when it hovers over the button. 
        cursor: pointer;
    }
}

// Style for the button in the restaurants section 
.button-restaurants {
    // Extend the styles from .button. 
    // The @extend directive includes all the styles from the referenced class (.button in this case) into the current class (.button-restaurants). 
    @extend .button;

    // Set the position of the button to relative, which means the following top position will be relative to its normal position in the flow of the document. 
    position: relative;

    // Move the button up by 25 pixels from its normal position. Negative values for the top property move the element upwards. 
    top: -25px;
}

// Style for the order button 
.button-order {
    // Extend the styles from .button. This includes all the styles from the .button class into the .button-order class. 
    @extend .button;

    // Set the width of the button to 200 pixels. */
    width: 200px;

    // Set the position of the button to relative, which means the following top and right positions will be relative to its normal position in the flow of the document. 
    position: relative;

    // Move the button down by 35 pixels from its normal position. Positive values for the top property move the element downwards. 
    top: 35px;

    // Move the button to the left by 99 pixels from its normal position. Negative values for the right property move the element to the left. 
    right: -99px;
}

// Define a media query for PC screens. This will apply the enclosed styles only if the viewing device's screen width is larger than the value defined in the PC variable.
@include PC {
    // Style for the order button on PC screens */
    .button-order {
        // Extend the styles from .button. This includes all the styles from the .button class into the .button-order class. 
        @extend .button;

        // Set the width of the button to 200 pixels. 
        width: 200px;

        // Set the position of the button to relative,
        //  which means the following top and right positions will be relative to its normal position in the flow of the document. 
        position: relative;

        // Move the button down by 127 pixels from its normal position. Positive values for the top property move the element downwards. 
        top: 127px;

        // Move the button to the left by 515 pixels from its normal position. Negative values for the right property move the element to the left. 
        right: 515px;
    } 
}
