// Reset the webpage
* {
    // sets the margin to 0
    margin: 0;
    // sets the padding to 0
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* this will allow vertical scroll if needed */
}