
    // Style for the city container 
    .city-container {
        // Center the content (Using a mixin)
        @include flexCenter(row);

        // This is used to make the container occupy the full height of its parent
        height: 100%;

        // This adds space above the city container
        padding-top: 5%;

        // This adds a background color to the city container
        background-color: #EAEAEA;

        // Adds a space of 5px above the city container
        margin-top: 5px;
    }

    // Style for the city text
    .city-text {
        //Changes the color of the text
        color: #4B4B4B;

        // Using the function to change the font-weight
        font-weight: weight(bold);

        // sets the position of the city text relative to its normal position.
        position: relative;

        // moves the city text up
        top: -10px;

        // moves the city text left
        left: 10px;

        // adds space at the bottom
        padding-bottom: 10px;
    }

    // Style for the location-dot icon 
    .location-dot-custom {
        // sets the position of the location-dot text relative to its normal position.
        position: relative;

        //moves the location-dot up
        top:-15px;

        //moves the location-dot right
        right:125px;
    }


    // Style for the menu container 
    .menu-content-container {
        // Center the content (Using a mixin)
        @include flexCenter(column);

        // This is used to make the container occupy the full height of its parent 
        height: 100%;  

        // This adds a background color to the city container
        background-color: $background-color;
    }

    // Style for the menu text container
    .menu-text-containter{
        // Center the content (Using a mixin)
        @include flexCenter(column);
    }

    // This is for the "picked for you" text 
    .menu-text-picked {
        // Moves the text up
        margin-top: -20px;
    }

    /* Style for each row */
    .menu-row {
        // The following line is used to add some space around each row.
        padding: 10px;

        // The following line is used to add some space between rows.
        margin: 20px 0;
    }

    // Style for the "Book the menu you like" 
    .menu-header {
        // Sets the size of the font to 23px
        font-size: 28px;

        // Using the function to change the font-weight
        font-weight: weight(bold);
    }

    // Style for the "Discover top-of-the-art restaurants we picked for you" 
    .menu-text {
        // Sets the size of the font to 18px
        font-size: 18px;
    }


    // Styling for the 'How it works' container 
    .how-it-works-container {
        // Center the content (Using a mixin)
        @include flexCenter(column);
        padding-top: 80px;
        padding-bottom: 120px;
    }

    // Styling for the section title 
    .section-title {
        position: relative;
        right: 120px;
        // Adjust the size, color, margin, etc. as needed 
        font-size: 24px;
        // Using the function to change the font-weight
        font-weight: weight(bold);
        bottom: 20px;
    }

    // Styling for the card container 
    .cards-container {
        // Center the content (Using a mixin)
        @include flexCenter(column);
        // Add some space between the cards 
        gap: 20px;
    }

    // Styling for each individual card 
    .card {
        // Set the card dimensions 
        width: 350px;
        height: 50px;

        // Center the content (Using a mixin)
        @include flexCenter(column);

        // Add background color (using the varible $background-color) and rounded corners 
        background-color: $background-color;
        border-radius: 30px;

        // Add padding around the content inside the card 
        padding: 10px;

        // Add a shadow border. Adjust the values as needed 
        // The values are in the order of: horizontal offset, vertical offset, blur radius, spread radius, and color 
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }

    // The element that we extend it too will inherit all the styles from the selected element
    // We want to extend all the styles in .card onto .card3 so we just want to change the background-color 
    #{&}.card3 {
        // So here we are using all the styles from card
        @extend .card;
        // We are just changing the background color:
        background-color: #F5EDFF;
    }

    // Styling for the icon container within each card
    .icon-container {
        // Display the number and icon in a row
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    // Styling for the card number 
    .card-number {

        position: relative;
        // Adjust the size, color, etc. as needed
        font-size: 16px;
        color: white;

        top: 15px;
        left: -19px;
        
        // Create a circular background with padding and border-radius
        padding: 10px;
        background-color: $primary-color;
        border-radius: 50%; // This will create a circular shape

        // Center the text within the circle using flexbox properties
        display: flex;
        align-items: center;
        justify-content: center;

        // Ensure the width and height are the same to maintain circular shape. Adjust as needed.
        width: 5px;
        height: 5px;
    }

    // Styling for the card text
    .card-text {
        // Adjust the size, color, etc. as needed
        position: relative;
        font-size: 18px;
        font-weight: weight(bold);
        text-align: center;
        top: -7px;
        right: 33px;
    }

    .custom-icon-style {
        position: relative;
        color: #7E7E7E;
        right: 300px;
        top: 15px;
        font-size: 23px;
    }

    .custom-store-icon-style {
        position: relative;
        color: $primary-color;
        right: 301px;
        top: 17px;
        font-size: 21px;
    }

    .card-text-restaurant {
    // Adjust the size, color, etc. as needed
        // So here we are using all the styles from card
        @extend .card-text;
        // We are just changing the margins
        top: -6px;
        right: -6px;
    }

    #restaurants-section {
        // So here we are using all the styles from .menu-content-container
        @extend .menu-content-container;
        padding: 112px 0; /* Adds 20px padding to the top and bottom */
    }

    .section-title-restaurant {
        @extend .section-title;
        position: relative;
        top:-51px;
    }

    .cards-container-restaurant {
        @extend .cards-container;
    }

    .card-image {
        position: relative;
        width: 370px; // This will make the image cover the full width of the .card-restaurant
        height: 186px; // This will make the image height to be 50% of .card-restaurant height
        object-fit: cover; // This will make the image cover the entire area of the .card-image, cropping it if necessary
        object-position: center; // This will center the image within the .card-image
        border-top-left-radius: 15px; // This will give the top left corner a 15px radius
        border-top-right-radius: 15px; // This will give the top right corner a 15px radius
        top: -21px;
    }
    
    .card-restaurant {
        // So here we are using all the styles from .card
        @extend .card;
        width: 350px;
        height: 218px; 
        background-color: #FFFFFF;
        margin: 30px;  // Adds space of 20px around each side of the card.
        padding-bottom: 0px;
    }

    a { 
        // Target all anchor tags within .card-header
        color: inherit; // Resets the color to inherit from its parent
        text-decoration: none; // Removes the underline
        cursor: pointer; // Ensures the cursor changes to a hand icon when hovering over the
    }  
    .card-header {
        @extend .card-text;
        font-size: 20px;
        top: -8px;
        right:102px;
    } 

    .card-text-restaurants {
        position: relative;
        font-size: 20px;
        right: -16px;
        top: -1px;
    }

    .card-header-2 {
        @extend .card-header; 
        right: 79px;
    }

    .card-header-3 {
        @extend .card-header; 
        right: 135px;
    }

    .card-header-4 {
        @extend .card-header; 
        right: 109px;
    }
    